
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

html,body{
	margin:0%;
	box-sizing:border-box;
	font-family: Andika;
	
}

.beranda{
	width:100%;
	height:710px; 
	background-color:#FFB980; 
	border-radius: 0 0 27% 0;
	
}

a{
	text-decoration:none;
	color:black;
	font-family: Andika;
	font-size:22px;
}

.flex-row{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	
}

ul{
	list-style-type:none;
	
}

.nav{
	background:#FFB980;
	padding:0 2rem;
	height:0rem;
	min-height:20vh;
	overflow:hidden;
	transition:height 1.5s ease-in-out;
	
}

.nav .nav-menu{
	justify-content:space-between;
	
}

.nav .toggle-collapse{
	position:absolute;
	top:0%;
	width:90%;
	cursor:pointer;
	display:none;
	
}

.nav .toggle-collapse .toggle-icon{
	display:flex;
	justify-content: flex-end;
	padding:1.7rem 0;
}

.nav .toggle-collapse .toggle-icon i{
	font-size:1.4rem;
	color:#6C6969;
}

.collapse{
	height:40rem;

}


.nav .nav-items{
	display:flex;
	margin:20;
	margin-top:35px;
}

.nav .nav-items .nav-link{
	padding:1rem 2.3rem;
	font-size: 1.2rem;
    position: relative;
	
}

.nav .nav-items .nav-link:hover{
	background-color:#8167BA;
	border-radius:30px;
	
	
	
	
}

.nav .nav-items .nav-link:hover a{
	color: white;
	
}

.nav .social{
	padding: 2.8rem 0;
}

.nav .social i{
	padding: 0rem;
	font-size:30px;
	color:#FFC107;
	margin-right:50px;


}

.nav .social i:hover{
	color: red;
}


@media only screen and (max-width:750px){
	.nav .nav-menu, .nav .nav-items{
		flex-direction:column;
	}
	
	.nav .toggle-collapse{
		display:initial;
	}
}

.box1{
	width:500px;
	height:130px;
	background-color:#FFB980;
	margin-top:70px;
	margin-left:70px;
	
}

.box2{
	width:600px;
	height:190px;
	background-color:#FFB980;
	margin-top:-30px;
	margin-left:70px;	
}

.box3{
	width:90%;
	height:420px;
	background-color:white;
	margin-top:70px;
	margin-left:70px;
}

.box4{
	width:600px;
	height:50px;
	background-color:white;
	margin-top:-48px;
	margin-left:560px;
}

.box5{
	width:170px;
	height:170px;
	background-color:#FF8887;
	margin-left:200px;
	margin-top:80px;
	border-radius:100%;
}

.box6{
	width:250px;
	height:70px;
	background-color:#FF8887;
	margin-left:160px;
	margin-top:30px;
}

.box7{
	width:100%;
	height:400px;
	background-color:#FF8887;
	margin-top:50px;
}

.box8{
	width:60px;
	height:60px;
	background-color:#FF8887;
	margin-top:-100px;
}

table{
	border-spacing:60px;
	border-style:none;		
}


.container{
	left:350px;
	top:550px;
	transform:translate(-50%, -50%);
	text-align:center;
	
}

.btn{
	border:none;
	margin:15px;
	padding:15px;
	width:250px;
	border-radius:30px;
	transition:0.7s;
	margin-left:680px;
	margin-top:130px;
	background-color:white;	
}

.pesan{
	background-color:#00BAA5;	
}

.btn:hover{
	background-color:#8167BA;
	
}

.footer1{
	background-color:#FFB980;
}

.footer2{
	width:100%;
	height: 50px;
	background-color:#FE5919;
	text-align:center;
	
}

.footer1-col{
	width:30%;
	padding: 0 15px;
	
}

.footer1-col ul li:not(:last-child){
	margin-bottom:15px;
	
}

.footer1-col ul li a{
	color:black;
	
	
}

.footer1-col ul li a:hover{
	color:black;
	padding-left:10px;
	
}

.footer1-col .social-links{
	margin-top: 40px;
	margin-left:150px;
	

}

.footer1-col .social-links i:hover{
	transform: scale(1.3);
}

.row{
	display:flex;
	flex-wrap:wrap;
	
}


@media (max-width:767px){
	
	.footer1{
		
		width:50%;
		
	}
	
	.footer1-col ul li iframe{
		width:200px;
		
	}
	
	.footer1-col .social-links i{
		margin-left:0px;
	}
	
}

@media (max-width:574px){
	.footer1{
		
		width:100%;
		
	}
	
}

.icon {
	transform:translateY(-50%);
	text-align:center;
	margin-top:17px;
	margin-left:1020px;

}

.tombol{
	display:inline-block;
	width:40px;
	height:30px;
	background-color:white;
	margin:10px;
	border-radius:100%;
	box-sizing: 0.5px, 15px, -5px #00000070;
	overflow:hidden;
	padding-top:10px;
	
}

.tombol i{
	transition:0.2s linear;
	font-size:26px;
	line-height:90%;
}

.tombol:hover{
	transform: scale(1.3);

}


.atas{
	width:100%;
	height:40px;
	background-color:#B89AFF;
}
		
.container3{
	width:20%;
	margin: 0 auto;
	margin-right:300px;
}
		
.box9{
	border:4px solid #FF8887;
	width:230px;
	border-radius:40px;
	height:20px;
	display:inline-block;
	margin-top:5px;
}
		
.input{
	outline:none;
	height:20px;
	width:180px;
	border-radius:40px;
	border:0;
	display:inline-block;
}
		
.src{
	background:transparent;
	outline:none;
	border:0;
	color:white;
	padding-left:10px;
}
		
.box9:hover{
	background-color:#FFBFBC;
}

.box10 {
	width:30px;
	height:30px;
	background-color:white;
	border-radius:100%;
	margin-top:-27px;
	margin-left:1100px;	
}

.box11{
	width:230px;
	height:150px;
	background-color:green;
	margin-left:100px;
	margin-top:70px;
}

.menu{
    background : #FFB980;
    width : 100%
}


.isi{
    float: left;
    text-align: center;
    padding-top :100px; 
    padding-left:50px;
    font-family: 'sans-serif';
    font-weight: bold;
    font-size : 25px;

}

.bingkai3{
	width:550px;
	height: 900px;
	background-color:#FFB980;
	margin-top:-230px;
	margin-left:100px;
	
}
